name: CD
on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest   
    env:
      GH_TOKEN: ${{ github.token }}
      GEM_HOST_API_KEY: "${{secrets.RUBYGEM_API}}"
      RUBY_VERSION: ruby-3.2.8
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ env.RUBY_VERSION }}
    - name: Setup to RubyGems
      run: |
        mkdir -p $HOME/.gem
        touch $HOME/.gem/credentials
        chmod 0600 $HOME/.gem/credentials
        printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
    - name: Install dependencies
      run: |
        bundle install
    - name: Release
      run: |
        TAG=$(bundle exec rake version | tr -d '"')
        gh release create $TAG --generate-notes
        bundle exec rake build
        gem push pkg/*
    